<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Wishlist</title>
</head>

<body>

    <form method="post">
        {% csrf_token %}
        <label for="recipient_email">Recipiant Email: </label>
        <input type="email" name="recipient_email" required>
        <label for="message">Message: </label>
        <textarea name="message"></textarea>
        <button type="submit">Share Wishlist</button>

    </form>

</body>

</html>