{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Sweets Store.
    {% endif %}
{% endblock %}

{% block title %}
    {% if category_id %}  
        {{ current_category.name }} - Sweets Store 
    {% else %}
        See Our Variety of Options - Sweets Store
    {% endif %}
{% endblock %}

{% block content %}
    {% if current_category %}
        <div >
            <p class="m-4"><a href="{% url 'shop:product-list' %}" style="color: black; text-decoration: none; margin-left: 40px;">Our Product Collection</a> | {{ current_category.name }}</p>
        </div>
        <div >
            <h1 class="text-center">{{ current_category.name }}</h1>
            <p class="text-center m-4 p-4">{{ current_category.description }}</p>
            <br>
        </div>
    {% else %}
        <div >
            <p class="m-4"><a href="{% url 'shop:product-list' %}" style="color: black; text-decoration: none; margin-left: 40px;">Our Product Collection  | Home</a></p>
        </div>
        <div >
            <h1 class="text-center" >Our Products</h1>
            <p class="text-center m-4 py-4">Welcome to our sweet sanctuary, where every confection tells a story of homemade goodness. We believe in crafting more than just treats – we create moments of joy, nostalgia, and pure indulgence. Each product in our collection is lovingly handcrafted with the finest ingredients, ensuring that every bite is a delightful journey for your taste buds.</p>
        </div>
    {% endif %}
    
    <div class="container">
        <div class="row mx-auto">
            {% for product in categories_list_products %}
                <div class="col-9 col-lg-4 col-sm-12 col-md-4 mb-4">
                    <div class="card text-center h-100" style="min-width:18rem; " >
                        <img src="{{ product.image.url }}" class="card-img-top imgc" alt="{{ product.name }}"  >
                        <div class="card-body">
                            <p class = "my-4"style="font-size: 18px;">{{ product.name }}</p>
                            <p class="page-description text-secondary opacity-75 text" style="font-size: 12px; ">{{product.description|truncatewords:20 }}</p>
                            <p>€{{ product.price }}</p>
                            <div class = "mb-2">
                            <a href="{{ product.get_absolute_url }}"><button type="submit" class="btn btn-outline-secondary save_button me-1">View</button></a>
                            <a href="{% url 'cart:add_cart' product_id=product.id %}"><button type="submit" class="btn btn-outline-secondary save_button">Add to Cart</button></a>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mx-auto">
        {% if categories_list_products.has_other_pages %}
            <hr>
            <div class="text-center">
                {% for pg in categories_list_products.paginator.page_range %}
                    <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if categories_list_products.number == pg %}active{% endif %}">{{ pg }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}