{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Reviews</title>
</head>
<body>
    <div class="review-list-container">
        <h1>Reviews</h1>
        <div class="review-list">
            {% if reviews %}
                <ul>
                    {% for review in reviews %}
                        <li>{{ review.user }} - {{ review.created_at|date:"D d M Y" }}</li>
                        <p>{{ review.text }}</p>
                        <p>Rating: {{ review.rating }}</p>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews available.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>

